@using System.Globalization
<div style="
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        user-select: none;"
     onmouseenter="this.style.opacity = 1.0;"
     onmousedown="@(() => DashBoardItem.OnResizeGrabberDragged())"
     onmouseleave="this.style.opacity = 0.0;">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="@(GrabberSize.ToString(CultureInfo.InvariantCulture))"
         height="@(GrabberSize.ToString(CultureInfo.InvariantCulture))"
         viewBox="0 0 160 160">
        <path fill="@Color"
              d="M 110.00,110.00
                 C 110.00,110.00 120.00,110.00 120.00,110.00
                   120.00,110.00 120.00,120.00 120.00,120.00
                   120.00,120.00 110.00,120.00 110.00,120.00
                   110.00,120.00 110.00,110.00 110.00,110.00 Z
                 M 70.00,130.00
                 C 70.00,130.00 80.00,130.00 80.00,130.00
                   80.00,130.00 80.00,140.00 80.00,140.00
                   80.00,140.00 70.00,140.00 70.00,140.00
                   70.00,140.00 70.00,130.00 70.00,130.00 Z
                 M 90.00,110.00
                 C 90.00,110.00 100.00,110.00 100.00,110.00
                   100.00,110.00 100.00,120.00 100.00,120.00
                   100.00,120.00 90.00,120.00 90.00,120.00
                   90.00,120.00 90.00,110.00 90.00,110.00 Z
                 M 110.00,90.00
                 C 110.00,90.00 120.00,90.00 120.00,90.00
                   120.00,90.00 120.00,100.00 120.00,100.00
                   120.00,100.00 110.00,100.00 110.00,100.00
                   110.00,100.00 110.00,90.00 110.00,90.00 Z
                 M 130.00,70.00
                 C 130.00,70.00 140.00,70.00 140.00,70.00
                   140.00,70.00 140.00,80.00 140.00,80.00
                   140.00,80.00 130.00,80.00 130.00,80.00
                   130.00,80.00 130.00,70.00 130.00,70.00 Z
                 M 130.00,90.00
                 C 130.00,90.00 140.00,90.00 140.00,90.00
                   140.00,90.00 140.00,100.00 140.00,100.00
                   140.00,100.00 130.00,100.00 130.00,100.00
                   130.00,100.00 130.00,90.00 130.00,90.00 Z
                 M 90.00,130.00
                 C 90.00,130.00 100.00,130.00 100.00,130.00
                   100.00,130.00 100.00,140.00 100.00,140.00
                   100.00,140.00 90.00,140.00 90.00,140.00
                   90.00,140.00 90.00,130.00 90.00,130.00 Z
                 M 110.00,130.00
                 C 110.00,130.00 120.00,130.00 120.00,130.00
                   120.00,130.00 120.00,140.00 120.00,140.00
                   120.00,140.00 110.00,140.00 110.00,140.00
                   110.00,140.00 110.00,130.00 110.00,130.00 Z
                 M 130.00,110.00
                 C 130.00,110.00 140.00,110.00 140.00,110.00
                   140.00,110.00 140.00,120.00 140.00,120.00
                   140.00,120.00 130.00,120.00 130.00,120.00
                   130.00,120.00 130.00,110.00 130.00,110.00 Z
                 M 130.00,130.00
                 C 130.00,130.00 140.00,130.00 140.00,130.00
                   140.00,130.00 140.00,140.00 140.00,140.00
                   140.00,140.00 130.00,140.00 130.00,140.00
                   130.00,140.00 130.00,130.00 130.00,130.00 Z"/>
    </svg>
</div>

@code {

    /// <summary>
    /// The color of the grabber.
    /// </summary>
    [Parameter]
    [LanguageInjection(InjectedLanguage.CSS, Prefix = ".any {color: ", Suffix = ";}")]
    public string Color { get; set; } = "#ccc";

    /// <summary>
    /// The size of the grabber background.
    /// </summary>
    [Parameter]
    [LanguageInjection(InjectedLanguage.CSS, Prefix = ".any {width: ", Suffix = ";}")]
    public string GrabberSize { get; set; } = "24px";

    /// <summary>
    /// The containing item.
    /// </summary>
    [CascadingParameter]
    public DashBoardItem DashBoardItem { get; set; } = null!;

}